body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #17407D 10%, #1E4E9E 50%, #17407D 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.search-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}
h1 {
    margin: 0;
    font-size: 36px;
}
.black { color: black; }
.orange { color: #ED811E; }
.subheading {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}
button {
    background: #ED811E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    text-align: center;
    margin-top: 15px;
}
button:hover {
    background: #d46b16;
}
@media (min-width: 768px) {
    .search-box {
        width: 40%;
        max-width: 500px;
    }
}
